
.custom-navbar{
    background-color: rgb(156, 154, 141);
}

.banner-bg, footer{
    background-image: linear-gradient( rgba(99, 97, 85, 0.9), rgb(53, 44, 44, 0.9) ), url("./../img/film_burn.jpg");
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: -0.2rem;
}

.body-content{
    margin: 2.5% 25%;
}

.data-box-contact img{
    width: 10%;
}

.data-box-contact{
    padding: 1%;
    transition: 0.5s;
}

.data-box-contact:hover{
    transform: translateX(5px);
    background-color: rgba(156, 154, 141, 0.5);
}

.data-box-contact a{
    /* No text decoration because it overlaps with the image*/
    color:rgb(44, 53, 52);
    text-decoration: none;
}

.form-content label{
    margin-top:1%;
}

.form-content textarea, input{
    width: 100%;
}

.form-content .col{
    margin: 0 1%;
}

.h-captcha iframe{
    max-width: 100%;
}

.body-content h2{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.body-content h3{
    font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (max-width: 992px){
    .body-content{
        margin: 2.5% 10%;
    }
}
