
.custom-navbar{
    background-color: rgb(156, 154, 141);
}

.banner-bg{

    background: linear-gradient( rgb(99, 97, 85), rgb(53, 44, 44) );
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: -0.2rem;
}

.contact-bg h1{
    font-weight: 900;
    font-size: 5vw;
}

.body-content{
    margin: 3% 25%;
}


.data-box-contact img{
    width: 10%;
}

.data-box-contact{
    padding: 1%;
    transition: 0.5s;
}

.data-box-contact:hover{
    transform: translateX(5px);
    background-color: rgba(156, 154, 141, 0.5);
}

.data-box-contact a{
    /* No text decoration because it overlaps with the image*/
    color:rgb(44, 53, 52);
    text-decoration: none;
}

.form-content p{
    padding-top:1%;
}

.form-content textarea, input{
    width: 100%;
}

