
/*File-specific styling*/
.custom-navbar{
    background-color: rgb(141, 154, 156);
}

.banner-bg, footer{
    background-image: linear-gradient( rgba(85, 98, 99, 0.95), rgb(44, 53, 52, 0.95));
    background-size: cover;
}

.data-box h1, .data-box h2{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.25s;
}

.data-box h1{
    letter-spacing: -5px;
    line-height: 10vh;
    font-size:100px;
    font-size: 7.5vw;
}

.data-box h2{
    letter-spacing: -5px;
    line-height: 6vh;
    font-size:100px;
    font-size: 5vw;
}

.data-box h1:hover, .data-box h2:hover{
    transform: translateX(10px);
}

.data-box img{
    width: 20%;
}

.data-box-contact{
    padding: 1%;
    margin-bottom: 1%;
    transition: 0.25s;
}

.data-box-contact:hover{
    transform: translateX(5px);
    background-color: rgba(141, 154, 156, 0.5);
}

.data-box-contact a{
    /* No text decoration because it overlaps with the image*/
    color:rgb(44, 53, 52);
    text-decoration: none;
}

.data-box{
    padding: 5% 20% 0;
}

i{
    font-size:5vw;
}

