
/*File-specific styling*/
.custom-navbar{
    background-color: rgb(141, 154, 156);
}

.banner-bg, footer{
    background-image: linear-gradient( rgba(85, 98, 99, 0.95), rgb(44, 53, 52, 0.95));
}

.data-box h1, .data-box h2{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.25s;
}

.data-box h1{
    letter-spacing: -0.25rem;
    line-height: 5rem;
    font-size: 7rem;
}

.data-box h2{
    letter-spacing: -0.25rem;
    line-height: 3rem;
    font-size: 5rem;
}

.data-box h1:hover, .data-box h2:hover{
    transform: translateX(10px);
}

.data-box img{
    width: 20%;
}

.data-box-contact{
    padding: 1%;
    margin-bottom: 1%;
    transition: 0.25s;
}

.data-box-contact:hover{
    transform: translateX(5px);
    background-color: rgba(141, 154, 156, 0.5);
}

.data-box-contact a{
    /* No text decoration because it overlaps with the image*/
    color:rgb(44, 53, 52);
    text-decoration: none;
}

.data-box{
    margin: 5% 20% 0;
}

.data-box iframe{
    width: 100%;
    height: 30vh;
}

i{
    font-size:5vw;
}

@media (max-width: 992px){
    .data-box{
        margin: 2.5% 10%;
    }

    .data-box h1{
        font-size: 4rem;
        line-height: 3rem;
    }

    .data-box h2{
        font-size: 3rem;
        line-height: 2rem;
    }

    .data-box img{
        width:10%;
    }
}
