
.custom-navbar{
    background-color: rgb(141, 156, 148); 

}

.banner-bg{

    background: linear-gradient( rgb(85, 99, 86), rgb(44, 53, 46) );
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h1{
    letter-spacing: -0.2rem;

}

h2{
    letter-spacing: -0.1rem;

}


.portfolio-content{
    margin: 2.5% 20%;
}

.portfolio-content h1{
    font-size: 3em;
    font-weight: 600;
}

.portfolio-content h2{
    font-size: 2vw;
    font-weight: 600;
}

.portfolio-content h3{
    font-size: 1vw;
    font-weight: 600;
}

.portfolio-content img{
    width:100%;
    transition: 0.25s;
}

.portfolio-content img:hover{
    transform: scale(1.10);
}

.portfolio-content iframe{
    width: 100%;
    height: 100vh;
}


i{
    font-size:5vw;
}

.tools{
    text-align: center;
}