
body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden; /* Hide vertical scrolling */
    background-color: white;
}

.main-body{
    padding-top: 50px;
}

/* Override bootstrap via ordering of CSS*/
.custom-navbar{
    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;
}

.navbar-toggler{
    border-color: transparent;
}

.navbar{
    --bs-navbar-toggler-focus-width: 0rem;
    width: 100%;
}

/* Fix really weird issue with bootstrap rows causing horiz scroll*/
.row{
    --bs-gutter-x: 0;
}

.banner-bg img{
    width: 70%;
    /* height: 30vh; */
    border-radius: 50%;
    transition: 0.25s;
}

.banner-bg img:hover{
    border-radius: 25%;
    width:80%;
    /* height: 33vh; */
}

.banner-bg{

    /* For center alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* Background stuff */
    padding: 0 20%; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;

    color: white;
}

.banner-bg h1{
    font-weight: 900;
    font-size: 4rem;
}

.banner-bg p{
    font-size: 1.25rem;
}

footer{
    padding: 1.5%;
    color: white;
    text-align: center;
}

@media (max-width: 992px){
    .banner-bg{
        padding: 0% 10%;
        /* height: 50vh; */
    }
    
    .banner-bg img{
        width:50%;
    }

    .banner-bg img:hover{
        width:52.5%;
    }

    .banner-bg h1{
        font-size: 3rem;
    }

    .banner-bg h2{
        font-size: 1.5rem;
    }

    .banner-bg p{
        font-size: 1rem;
    }
}


@media (max-width: 576px){

    /* .banner-bg img{
        width:35%;
    }

    .banner-bg img:hover{
        width:37.5%;
    } */

    .banner-bg h1{
        font-size: 2.5rem;
    }

    .banner-bg h2{
        font-size: 1.25rem;
    }

    .banner-bg p{
        font-size: 0.9rem;
    }
}