
body{
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    overflow-x: hidden; /* Hide horizontal scrolling */
    background-color: white;
}

.main-body{
    padding-top: 50px;
}

/* Override bootstrap via ordering of CSS*/
.custom-navbar{
    --bs-navbar-padding-x: 0.5rem;
    --bs-navbar-padding-y: 0.5rem;
}

.custom-navbar a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.navbar-toggler{
    border-color: transparent;
}

.navbar{
    --bs-navbar-toggler-focus-width: 0rem;
    width: 100%;
}
    
/* Fix really weird issue with bootstrap rows causing horiz scroll*/
.row{
    --bs-gutter-x: 0;
}

.banner-bg img{
    max-width: 70%;
    max-height: 45vh;
    width: auto;
    height: auto;
    border-radius: 50%;
    transition: 0.25s;
}

.banner-bg img:hover{
    border-radius: 25%;
    max-width: 80%;
    max-height: 45vh;
}

.banner-bg{

    /* For center alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;

    /* Background stuff */
    padding: 0 20%; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;

    color: white;
}

.banner-bg h1{
    font-weight: 900;
    font-size: clamp(1rem, 10vw, 4rem);
}

.banner-bg h2{
    font-size: clamp(0.8rem, 10vw, 2rem);
}

p, li, a, footer{
    font-size: clamp(0.8rem, 1.3vw, 3rem);
}

footer{
    padding: 1.5%;
    color: white;
    text-align: center;
}

/* Tablets */
@media (max-width: 992px){
    .banner-bg{
        padding: 0% 2.5%;
    }
    
    .banner-bg img{
        width:50%;
    }

    .banner-bg img:hover{
        width:52.5%;
    }
}

@media (max-width: 350px), (max-height: 350px){
    p, li, a, footer{
        font-size: clamp(0.65rem, 1.2vw, 3rem);
    }
}